In [1]:
import pandas as pd
import io
import re
import os

from stops_prn_extractor import StopsPRNExtractor

# Instantiate the extractor object
extractor = StopsPRNExtractor()

In [ ]:
# Instantiate the extractor object
extractor = StopsPRNExtractor()

prn_files_directory = "./stops_output_prn_report_files"

prn_files = [
    ("2024", f"{prn_files_directory}/A2_MBTA-CATA-MWRTA-BATA-MVRTA#MBTA-CATA-MWRTA-BATA-MVRTA#MBTA-CATA-MWRTA-BATA-MVRTA_STOPSY2024Results.prn"),
    ("2045", f"{prn_files_directory}/A2_MBTA-CATA-MWRTA-BATA-MVRTA#MBTA50-CATA-MWRTA-BATA-MVRTA#MBTA50-CATA-MWRTA-BATA-MVRTA_STOPSY2045Results.prn"),
    ("2050", f"{prn_files_directory}/A2_MBTA-CATA-MWRTA-BATA-MVRTA#MBTA50-CATA-MWRTA-BATA-MVRTA#MBTA50-CATA-MWRTA-BATA-MVRTA_STOPSY2050Results.prn"),
    ("example", f"{prn_files_directory}/example.prn"),
    # Add more as needed
]


# Add files to the extractor
extractor.add_files(prn_files)

# Extract all tables at once
extractor.extract_all_tables()

# Display results (optional, good for debugging)
for alias_key in extractor.tables:
    print(f"\nAlias: {alias_key}")
    print("Metadata:")
    for k, v in extractor.metadata[alias_key].items():
        print(f"  {k}: {v}")
    print(f"\nTable data for {alias_key}:")
    display(extractor.tables[alias_key])

# Export extracted tables to CSV files
extractor.export_to_csv(output_dir="./extracted_csv_tables")

Alias: 2024_table_9_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            10:48:37
  Program: STOPS

Table data for 2024_table_9_01:

,Stop_id1,Station_Name,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_XFR,Y2024_EXISTING_ALL,Y2024_NO-BUILD_WLK,Y2024_NO-BUILD_KNR,Y2024_NO-BUILD_PNR,Y2024_NO-BUILD_XFR,Y2024_NO-BUILD_ALL,Y2024_BUILD_WLK,Y2024_BUILD_KNR,Y2024_BUILD_PNR,Y2024_BUILD_XFR,Y2024_BUILD_ALL
0,A6456&T,Alewife,2485,460,202,824,3971,2485,460,202,824,3971,2485,460,202,824,3971
1,A6457&T,Davis,4046,229,0,512,4788,4046,229,0,512,4788,4046,229,0,512,4788
2,A6459&T,Porter,3832,213,0,1441,5485,3832,213,0,1441,5485,3832,213,0,1441,5485
3,A6461&T,Harvard,6203,172,0,1554,7929,6203,172,0,1554,7929,6203,172,0,1554,7929
4,A6463&T,Central,6570,214,0,711,7495,6570,214,0,711,7495,6570,214,0,711,7495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11327,A6639&T,Assembly,2163,30,0,0,2192,2163,30,0,0,2192,2163,30,0,0,2192
11328,A6428&T,Wellington,1921,367,1630,902,4819,1921,367,1630,902,4819,1921,367,1630,902,4819
11329,A6430&T,Malden Center,5680,487,5,2743,8916,5680,487,5,2743,8916,5680,487,5,2743,8916
11330,A6432&T,Oak Grove,2073,520,51,785,3429,2073,520,51,785,3429,2073,520,51,785,3429
11331,Total,Total,538988,17054,40911,285739,882515,538988,17054,40911,285739,882515,538988,17054,40911,285739,882515

Alias: 2024_table_10_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            10:48:37
  Program: STOPS

Table data for 2024_table_10_01:

,Route_ID,Route_Name,Count,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_ALL,Y2024_NO-BUILD_WLK,Y2024_NO-BUILD_KNR,Y2024_NO-BUILD_PNR,Y2024_NO-BUILD_ALL,Y2024_BUILD_WLK,Y2024_BUILD_KNR,Y2024_BUILD_PNR,Y2024_BUILD_ALL
0,04N&M,--RT04N-RT04N-Waverly St Natic,0,299,6,2,307,299,6,2,307,299,6,2,307
1,04S&M,--RT04S-RT04S-Central Hub Beav,0,147,2,1,150,147,2,1,150,147,2,1,150
2,07C&M,--RT07C-RT07C,0,255,26,4,285,255,26,4,285,255,26,4,285
3,1&M,--RT01-RT01-Woodland Green Lin,0,144,4,2,150,144,4,2,150,144,4,2,150
4,1&T,--1-Harvard Square - Nubian St,9490,9361,40,172,9573,9361,40,172,9573,9361,40,172,9573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,Mattapan&T,--Mattapan Trolley-Mattapan Tr,4523,3416,289,896,4601,3416,289,896,4601,3416,289,896,4601
242,NCS&M,--Natick Commuter Shuttle-Nati,0,8,0,1,10,8,0,1,10,8,0,1,10
243,Orange&T,--Orange Line-Orange Line-Rapi,115769,93982,8294,12794,115071,93982,8294,12794,115071,93982,8294,12794,115071
244,Red&T,--Red Line-Red Line-Rapid Tran,133995,109776,8110,12642,130528,109776,8110,12642,130528,109776,8110,12642,130528
245,Total,NaN,887330,724720,42092,115923,882735,724720,42092,115923,882735,724720,42092,115923,882735

Alias: 2024_table_10_02
Metadata:
  Run: Boston_Regional_STOPS                                                                                            10:48:37
  Program: STOPS

Table data for 2024_table_10_02:

,Route_ID,Route_Name,Group_Name,Count,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_ALL,Y2024_NO-BUILD_WLK,Y2024_NO-BUILD_KNR,Y2024_NO-BUILD_PNR,Y2024_NO-BUILD_ALL,Y2024_BUILD_WLK,Y2024_BUILD_KNR,Y2024_BUILD_PNR,Y2024_BUILD_ALL
0,04N&M,--RT04N-RT04N-Waverly St Natic,<NA>,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04N&M,--RT04N-RT04N-Waverly St Natic,39-MWRTA,NaN,299.0,6.0,2.0,307.0,299.0,6.0,2.0,307.0,299.0,6.0,2.0,307.0
2,04N&M,--RT04N-RT04N-Waverly St Natic,All Groups,NaN,299.0,6.0,2.0,307.0,299.0,6.0,2.0,307.0,299.0,6.0,2.0,307.0
3,04S&M,--RT04S-RT04S-Central Hub Beav,<NA>,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04S&M,--RT04S-RT04S-Central Hub Beav,39-MWRTA,NaN,147.0,2.0,1.0,150.0,147.0,2.0,1.0,150.0,147.0,2.0,1.0,150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,Total,Total,38-BATA,NaN,11625.0,143.0,296.0,12064.0,11625.0,143.0,296.0,12064.0,11625.0,143.0,296.0,12064.0
1121,Total,Total,39-MWRTA,NaN,2280.0,142.0,47.0,2470.0,2280.0,142.0,47.0,2470.0,2280.0,142.0,47.0,2470.0
1122,Total,Total,40-CATA,NaN,612.0,9.0,11.0,633.0,612.0,9.0,11.0,633.0,612.0,9.0,11.0,633.0
1123,Total,Total,All Groups,887330.0,724720.0,42092.0,115923.0,882735.0,724720.0,42092.0,115923.0,882735.0,724720.0,42092.0,115923.0,882735.0
1124,--------------------,------------------------------------,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Alias: 2024_table_11_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            10:48:37
  Program: STOPS

Table data for 2024_table_11_01:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,47761,0,47761,0,47761,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,2220,0,2220,0,2220,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,447,0,447,0,447,0,0,0
3,0 car H,Fixed Guideway Only,All Access,50428,0,50428,0,50428,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,13380,0,13380,0,13380,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,14917,0,14917,0,14917,0,0,0
78,All car,All Fixed Guideway,PNR Access,67396,0,67396,0,67396,0,0,0
79,All car,All Fixed Guideway,All Access,229859,0,229859,0,29859,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: 2024_table_11_02
Metadata:
  Run: Boston_Regional_STOPS                                                                                            10:48:37
  Program: STOPS

Table data for 2024_table_11_02:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,50817,0,50817,0,50817,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,3432,0,3432,0,3432,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,167,0,167,0,167,0,0,0
3,0 car H,Fixed Guideway Only,All Access,54417,0,54417,0,54417,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,8033,0,8033,0,8033,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,11929,0,11929,0,11929,0,0,0
78,All car,All Fixed Guideway,PNR Access,8212,0,8212,0,8212,0,0,0
79,All car,All Fixed Guideway,All Access,134668,0,134668,0,34668,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: 2024_table_11_03
Metadata:
  Run: Boston_Regional_STOPS                                                                                            10:48:37
  Program: STOPS

Table data for 2024_table_11_03:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,13651,0,13651,0,13651,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,1420,0,1420,0,1420,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,42,0,42,0,42,0,0,0
3,0 car H,Fixed Guideway Only,All Access,15113,0,15113,0,15113,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,1406,0,1406,0,1406,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,5677,0,5677,0,5677,0,0,0
78,All car,All Fixed Guideway,PNR Access,2852,0,2852,0,2852,0,0,0
79,All car,All Fixed Guideway,All Access,46424,0,46424,0,46424,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: 2024_table_11_04
Metadata:
  Run: Boston_Regional_STOPS                                                                                            10:48:37
  Program: STOPS

Table data for 2024_table_11_04:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,112229,0,112229,0,12229,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,7073,0,7073,0,7073,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,656,0,656,0,656,0,0,0
3,0 car H,Fixed Guideway Only,All Access,119957,0,119957,0,19957,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,22819,0,22819,0,22819,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
76,All car,All Fixed Guideway,Walk Access,299968,0,299968,0,99968,0,0,0
77,All car,All Fixed Guideway,KNR Access,32523,0,32523,0,32523,0,0,0
78,All car,All Fixed Guideway,PNR Access,78460,0,78460,0,78460,0,0,0
79,All car,All Fixed Guideway,All Access,410950,0,410950,0,10950,0,0,0
80,========,====================,==============,0,0,0,0,0,0,0,0

Alias: 2045_table_9_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            16:58:08
  Program: STOPS

Table data for 2045_table_9_01:

,Stop_id1,Station_Name,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_XFR,Y2024_EXISTING_ALL,Y2045_NO-BUILD_WLK,Y2045_NO-BUILD_KNR,Y2045_NO-BUILD_PNR,Y2045_NO-BUILD_XFR,Y2045_NO-BUILD_ALL,Y2045_BUILD_WLK,Y2045_BUILD_KNR,Y2045_BUILD_PNR,Y2045_BUILD_XFR,Y2045_BUILD_ALL
0,A6456&T,Alewife,2485,460,202,824,3971,3195,484,162,901,4741,3195,484,162,901,4741
1,A6457&T,Davis,4046,229,0,512,4788,4176,220,0,769,5165,4176,220,0,769,5165
2,A6459&T,Porter,3832,213,0,1441,5485,3859,207,0,2969,7035,3859,207,0,2969,7035
3,A6461&T,Harvard,6203,172,0,1554,7929,6075,174,0,2108,8357,6075,174,0,2108,8357
4,A6463&T,Central,6570,214,0,711,7495,7243,231,0,829,8303,7243,231,0,829,8303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11327,A6639&T,Assembly,2163,30,0,0,2192,3272,26,0,217,3515,3272,26,0,217,3515
11328,A6428&T,Wellington,1921,367,1630,902,4819,2221,479,3077,1434,7211,2221,479,3077,1434,7211
11329,A6430&T,Malden Center,5680,487,5,2743,8916,6948,546,3,7400,14897,6948,546,3,7400,14897
11330,A6432&T,Oak Grove,2073,520,51,785,3429,1916,560,8,256,2740,1916,560,8,256,2740
11331,Total,Total,538988,17054,40911,285739,882515,651328,20346,59405,432082,1162924,651328,20346,59405,0,162924

Alias: 2045_table_10_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            16:58:08
  Program: STOPS

Table data for 2045_table_10_01:

,Route_ID,Route_Name,Count,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_ALL,Y2045_NO-BUILD_WLK,Y2045_NO-BUILD_KNR,Y2045_NO-BUILD_PNR,Y2045_NO-BUILD_ALL,Y2045_BUILD_WLK,Y2045_BUILD_KNR,Y2045_BUILD_PNR,Y2045_BUILD_ALL
0,04N&M,--RT04N-RT04N-Waverly St Natic,0,299,6,2,307,307,4,1,312,307,4,1,312
1,04S&M,--RT04S-RT04S-Central Hub Beav,0,147,2,1,150,155,1,1,157,155,1,1,157
2,07C&M,--RT07C-RT07C,0,255,26,4,285,273,27,4,305,273,27,4,305
3,1&M,--RT01-RT01-Woodland Green Lin,0,144,4,2,150,155,3,2,161,155,3,2,161
4,1&T,--1-Harvard Square - Nubian St,9490,9361,40,172,9573,11195,48,97,11340,11195,48,97,11340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,Mattapan&T,--Mattapan Trolley-Mattapan Tr,4523,3416,289,896,4601,4871,341,1660,6872,4871,341,1660,6872
251,NCS&M,--Natick Commuter Shuttle-Nati,0,8,0,1,10,8,0,1,10,8,0,1,10
252,Orange&T,--Orange Line-Orange Line-Rapi,115769,93982,8294,12794,115071,117088,10381,26508,153977,117088,10381,26508,153977
253,Red&T,--Red Line-Red Line-Rapid Tran,133995,109776,8110,12642,130528,126546,9829,25890,162266,126546,9829,25890,162266
254,Total,NaN,887330,724720,42092,115923,882735,973775,57077,191018,1221870,973775,57077,191018,1221870

Alias: 2045_table_10_02
Metadata:
  Run: Boston_Regional_STOPS                                                                                            16:58:08
  Program: STOPS

Table data for 2045_table_10_02:

,Route_ID,Route_Name,Group_Name,Count,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_ALL,Y2045_NO-BUILD_WLK,Y2045_NO-BUILD_KNR,Y2045_NO-BUILD_PNR,Y2045_NO-BUILD_ALL,Y2045_BUILD_WLK,Y2045_BUILD_KNR,Y2045_BUILD_PNR,Y2045_BUILD_ALL
0,04N&M,--RT04N-RT04N-Waverly St Natic,<NA>,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04N&M,--RT04N-RT04N-Waverly St Natic,39-MWRTA,NaN,299.0,6.0,2.0,307.0,307.0,4.0,1.0,312.0,307.0,4.0,1.0,312.0
2,04N&M,--RT04N-RT04N-Waverly St Natic,All Groups,NaN,299.0,6.0,2.0,307.0,307.0,4.0,1.0,312.0,307.0,4.0,1.0,312.0
3,04S&M,--RT04S-RT04S-Central Hub Beav,<NA>,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04S&M,--RT04S-RT04S-Central Hub Beav,39-MWRTA,NaN,147.0,2.0,1.0,150.0,155.0,1.0,1.0,157.0,155.0,1.0,1.0,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,Total,Total,38-BATA,NaN,11625.0,143.0,296.0,12064.0,13405.0,222.0,254.0,13881.0,13405.0,222.0,254.0,13881.0
1182,Total,Total,39-MWRTA,NaN,2280.0,142.0,47.0,2470.0,2476.0,150.0,50.0,2676.0,2476.0,150.0,50.0,2676.0
1183,Total,Total,40-CATA,NaN,612.0,9.0,11.0,633.0,586.0,9.0,6.0,601.0,586.0,9.0,6.0,601.0
1184,Total,Total,All Groups,887330.0,724720.0,42092.0,115923.0,882735.0,973775.0,57077.0,191018.0,1221870.0,973775.0,57077.0,191018.0,1221870.0
1185,--------------------,------------------------------------,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Alias: 2045_table_11_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            16:58:08
  Program: STOPS

Table data for 2045_table_11_01:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,47761,0,56236,0,56236,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,2220,0,2732,0,2732,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,447,0,637,0,637,0,0,0
3,0 car H,Fixed Guideway Only,All Access,50428,0,59605,0,59605,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,13380,0,18068,0,18068,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,14917,0,19626,0,19626,0,0,0
78,All car,All Fixed Guideway,PNR Access,67396,0,97051,0,97051,0,0,0
79,All car,All Fixed Guideway,All Access,229859,0,300845,0,845,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: 2045_table_11_02
Metadata:
  Run: Boston_Regional_STOPS                                                                                            16:58:08
  Program: STOPS

Table data for 2045_table_11_02:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,50817,0,58116,0,58116,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,3432,0,4169,0,4169,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,167,0,249,0,249,0,0,0
3,0 car H,Fixed Guideway Only,All Access,54417,0,62533,0,62533,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,8033,0,13058,0,13058,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,11929,0,15469,0,15469,0,0,0
78,All car,All Fixed Guideway,PNR Access,8212,0,14406,0,14406,0,0,0
79,All car,All Fixed Guideway,All Access,134668,0,171534,0,71534,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: 2045_table_11_03
Metadata:
  Run: Boston_Regional_STOPS                                                                                            16:58:08
  Program: STOPS

Table data for 2045_table_11_03:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,13651,0,15195,0,15195,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,1420,0,1737,0,1737,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,42,0,67,0,67,0,0,0
3,0 car H,Fixed Guideway Only,All Access,15113,0,16998,0,16998,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,1406,0,2331,0,2331,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,5677,0,6620,0,6620,0,0,0
78,All car,All Fixed Guideway,PNR Access,2852,0,4838,0,4838,0,0,0
79,All car,All Fixed Guideway,All Access,46424,0,54703,0,54703,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: 2045_table_11_04
Metadata:
  Run: Boston_Regional_STOPS                                                                                            16:58:08
  Program: STOPS

Table data for 2045_table_11_04:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,112229,0,129546,0,29546,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,7073,0,8638,0,8638,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,656,0,952,0,952,0,0,0
3,0 car H,Fixed Guideway Only,All Access,119957,0,139137,0,39137,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,22819,0,33456,0,33456,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
76,All car,All Fixed Guideway,Walk Access,299968,0,369072,0,69072,0,0,0
77,All car,All Fixed Guideway,KNR Access,32523,0,41716,0,41716,0,0,0
78,All car,All Fixed Guideway,PNR Access,78460,0,116295,0,16295,0,0,0
79,All car,All Fixed Guideway,All Access,410950,0,527082,0,27082,0,0,0
80,========,====================,==============,0,0,0,0,0,0,0,0

Alias: 2050_table_9_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for 2050_table_9_01:

,Stop_id1,Station_Name,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_XFR,Y2024_EXISTING_ALL,Y2050_NO-BUILD_WLK,Y2050_NO-BUILD_KNR,Y2050_NO-BUILD_PNR,Y2050_NO-BUILD_XFR,Y2050_NO-BUILD_ALL,Y2050_BUILD_WLK,Y2050_BUILD_KNR,Y2050_BUILD_PNR,Y2050_BUILD_XFR,Y2050_BUILD_ALL
0,A6456&T,Alewife,2485,460,202,824,3971,3209,485,163,898,4756,3209,485,163,898,4756
1,A6457&T,Davis,4046,229,0,512,4788,4240,223,0,777,5239,4240,223,0,777,5239
2,A6459&T,Porter,3832,213,0,1441,5485,3903,210,0,2981,7093,3903,210,0,2981,7093
3,A6461&T,Harvard,6203,172,0,1554,7929,6510,181,0,2107,8797,6510,181,0,2107,8797
4,A6463&T,Central,6570,214,0,711,7495,7376,236,0,855,8467,7376,236,0,855,8467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11327,A6639&T,Assembly,2163,30,0,0,2192,3258,26,0,209,3494,3258,26,0,209,3494
11328,A6428&T,Wellington,1921,367,1630,902,4819,2263,484,3091,1447,7286,2263,484,3091,1447,7286
11329,A6430&T,Malden Center,5680,487,5,2743,8916,6944,544,3,7407,14897,6944,544,3,7407,14897
11330,A6432&T,Oak Grove,2073,520,51,785,3429,1969,558,8,258,2793,1969,558,8,258,2793
11331,Total,Total,538988,17054,40911,285739,882515,671364,20630,58953,448022,1198719,671364,20630,58953,0,198719

Alias: 2050_table_10_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for 2050_table_10_01:

,Route_ID,Route_Name,Count,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_ALL,Y2050_NO-BUILD_WLK,Y2050_NO-BUILD_KNR,Y2050_NO-BUILD_PNR,Y2050_NO-BUILD_ALL,Y2050_BUILD_WLK,Y2050_BUILD_KNR,Y2050_BUILD_PNR,Y2050_BUILD_ALL
0,04N&M,--RT04N-RT04N-Waverly St Natic,0,299,6,2,307,313,4,1,319,313,4,1,319
1,04S&M,--RT04S-RT04S-Central Hub Beav,0,147,2,1,150,155,1,1,158,155,1,1,158
2,07C&M,--RT07C-RT07C,0,255,26,4,285,268,26,4,298,268,26,4,298
3,1&M,--RT01-RT01-Woodland Green Lin,0,144,4,2,150,151,3,2,156,151,3,2,156
4,1&T,--1-Harvard Square - Nubian St,9490,9361,40,172,9573,11416,48,95,11559,11416,48,95,11559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,Mattapan&T,--Mattapan Trolley-Mattapan Tr,4523,3416,289,896,4601,4884,349,1654,6887,4884,349,1654,6887
251,NCS&M,--Natick Commuter Shuttle-Nati,0,8,0,1,10,8,0,1,10,8,0,1,10
252,Orange&T,--Orange Line-Orange Line-Rapi,115769,93982,8294,12794,115071,117748,10476,26393,154617,117748,10476,26393,154617
253,Red&T,--Red Line-Red Line-Rapid Tran,133995,109776,8110,12642,130528,128384,9948,25781,164113,128384,9948,25781,164113
254,Total,NaN,887330,724720,42092,115923,882735,1010648,57943,189912,1258504,1010648,57943,189912,1258504

Alias: 2050_table_10_02
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for 2050_table_10_02:

,Route_ID,Route_Name,Group_Name,Count,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_ALL,Y2050_NO-BUILD_WLK,Y2050_NO-BUILD_KNR,Y2050_NO-BUILD_PNR,Y2050_NO-BUILD_ALL,Y2050_BUILD_WLK,Y2050_BUILD_KNR,Y2050_BUILD_PNR,Y2050_BUILD_ALL
0,04N&M,--RT04N-RT04N-Waverly St Natic,<NA>,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04N&M,--RT04N-RT04N-Waverly St Natic,39-MWRTA,NaN,299.0,6.0,2.0,307.0,313.0,4.0,1.0,319.0,313.0,4.0,1.0,319.0
2,04N&M,--RT04N-RT04N-Waverly St Natic,All Groups,NaN,299.0,6.0,2.0,307.0,313.0,4.0,1.0,319.0,313.0,4.0,1.0,319.0
3,04S&M,--RT04S-RT04S-Central Hub Beav,<NA>,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04S&M,--RT04S-RT04S-Central Hub Beav,39-MWRTA,NaN,147.0,2.0,1.0,150.0,155.0,1.0,1.0,158.0,155.0,1.0,1.0,158.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,Total,Total,38-BATA,NaN,11625.0,143.0,296.0,12064.0,13433.0,223.0,256.0,13912.0,13433.0,223.0,256.0,13912.0
1182,Total,Total,39-MWRTA,NaN,2280.0,142.0,47.0,2470.0,2485.0,150.0,50.0,2685.0,2485.0,150.0,50.0,2685.0
1183,Total,Total,40-CATA,NaN,612.0,9.0,11.0,633.0,592.0,9.0,7.0,607.0,592.0,9.0,7.0,607.0
1184,Total,Total,All Groups,887330.0,724720.0,42092.0,115923.0,882735.0,1010648.0,57943.0,189912.0,1258504.0,1010648.0,57943.0,189912.0,1258504.0
1185,--------------------,------------------------------------,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Alias: 2050_table_11_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for 2050_table_11_01:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,47761,0,64559,0,64559,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,2220,0,2944,0,2944,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,447,0,759,0,759,0,0,0
3,0 car H,Fixed Guideway Only,All Access,50428,0,68263,0,68263,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,13380,0,18672,0,18672,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,14917,0,19889,0,19889,0,0,0
78,All car,All Fixed Guideway,PNR Access,67396,0,96382,0,96382,0,0,0
79,All car,All Fixed Guideway,All Access,229859,0,309720,0,9720,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: 2050_table_11_02
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for 2050_table_11_02:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,50817,0,59686,0,59686,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,3432,0,4292,0,4292,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,167,0,255,0,255,0,0,0
3,0 car H,Fixed Guideway Only,All Access,54417,0,64233,0,64233,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,8033,0,14548,0,14548,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,11929,0,15642,0,15642,0,0,0
78,All car,All Fixed Guideway,PNR Access,8212,0,14219,0,14219,0,0,0
79,All car,All Fixed Guideway,All Access,134668,0,174951,0,74951,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: 2050_table_11_03
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for 2050_table_11_03:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,13651,0,15867,0,15867,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,1420,0,1809,0,1809,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,42,0,66,0,66,0,0,0
3,0 car H,Fixed Guideway Only,All Access,15113,0,17742,0,17742,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,1406,0,2458,0,2458,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,5677,0,6731,0,6731,0,0,0
78,All car,All Fixed Guideway,PNR Access,2852,0,4788,0,4788,0,0,0
79,All car,All Fixed Guideway,All Access,46424,0,55754,0,55754,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: 2050_table_11_04
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for 2050_table_11_04:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,112229,0,140112,0,40112,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,7073,0,9045,0,9045,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,656,0,1081,0,1081,0,0,0
3,0 car H,Fixed Guideway Only,All Access,119957,0,150238,0,50238,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,22819,0,35677,0,35677,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
76,All car,All Fixed Guideway,Walk Access,299968,0,382773,0,82773,0,0,0
77,All car,All Fixed Guideway,KNR Access,32523,0,42263,0,42263,0,0,0
78,All car,All Fixed Guideway,PNR Access,78460,0,115390,0,15390,0,0,0
79,All car,All Fixed Guideway,All Access,410950,0,540425,0,40425,0,0,0
80,========,====================,==============,0,0,0,0,0,0,0,0

Alias: example_table_9_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for example_table_9_01:

,Stop_id1,Station_Name,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_XFR,Y2024_EXISTING_ALL,Y2050_NO-BUILD_WLK,Y2050_NO-BUILD_KNR,Y2050_NO-BUILD_PNR,Y2050_NO-BUILD_XFR,Y2050_NO-BUILD_ALL,Y2050_BUILD_WLK,Y2050_BUILD_KNR,Y2050_BUILD_PNR,Y2050_BUILD_XFR,Y2050_BUILD_ALL
0,A6408&T,Massachusetts Avenue,5996,163,0,83,6241,7175,169,0,169,7513,7175,169,0,169,7513
1,A6410&T,Back Bay,9501,98,0,2368,11968,10685,104,0,6182,16971,10685,104,0,6182,16971
2,A6412&T,Tufts Medical Center,3786,73,0,13,3872,4748,90,0,16,4853,4748,90,0,16,4853
3,A6414&T,Chinatown,2991,6,0,227,3224,4185,10,0,261,4456,4185,10,0,261,4456
4,A6420&T,Haymarket,1836,27,0,442,2305,2830,23,0,3949,6803,2830,23,0,3949,6803
5,A6422&T,North Station,2213,24,0,7201,9438,3028,29,0,9090,12147,3028,29,0,9090,12147
6,A6424&T,Community College,1242,19,0,0,1261,1403,27,0,1,1431,1403,27,0,1,1431
7,A6426&T,Sullivan Square,3300,171,112,1232,4816,3832,194,152,4402,8579,3832,194,152,4402,8579
8,A6639&T,Assembly,2163,30,0,0,2192,3258,26,0,209,3494,3258,26,0,209,3494
9,A6428&T,Wellington,1921,367,1630,902,4819,2263,484,3091,1447,7286,2263,484,3091,1447,7286
10,A6430&T,Malden Center,5680,487,5,2743,8916,6944,544,3,7407,14897,6944,544,3,7407,14897
11,A6432&T,Oak Grove,2073,520,51,785,3429,1969,558,8,258,2793,1969,558,8,258,2793
12,Total,Total,538988,17054,40911,285739,882515,671364,20630,58953,448022,1198719,671364,20630,58953,0,198719

Alias: example_table_10_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for example_table_10_01:

,Route_ID,Route_Name,Count,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_ALL,Y2050_NO-BUILD_WLK,Y2050_NO-BUILD_KNR,Y2050_NO-BUILD_PNR,Y2050_NO-BUILD_ALL,Y2050_BUILD_WLK,Y2050_BUILD_KNR,Y2050_BUILD_PNR,Y2050_BUILD_ALL
0,Green-B&T,--B-Green Line B-Rapid Transit,113376,32350,1682,2692,36724,40923,1865,2878,45666,40923,1865,2878,45666
1,Green-C&T,--C-Green Line C-Rapid Transit,0,15392,879,1417,17689,18925,1019,1974,21918,18925,1019,1974,21918
2,Green-D&T,--D-Green Line D-Rapid Transit,0,24505,2047,3080,29632,28550,2295,5002,35847,28550,2295,5002,35847
3,Green-E&T,--E-Green Line E-Rapid Transit,0,23350,1644,2326,27320,28133,1952,3658,33743,28133,1952,3658,33743
4,MBCS&M,--Mass Bay Campus to Campus Sh,0,4,1,0,5,2,1,0,2,2,1,0,2
5,MBRS&M,--Mass Bay Riverside Shuttle-M,0,8,0,0,9,2,0,0,3,2,0,0,3
6,MWES&M,--MathWorks Express Shuttle-Ma,0,10,0,1,12,21,1,1,23,21,1,1,23
7,Mattapan&T,--Mattapan Trolley-Mattapan Tr,4523,3416,289,896,4601,4884,349,1654,6887,4884,349,1654,6887
8,NCS&M,--Natick Commuter Shuttle-Nati,0,8,0,1,10,8,0,1,10,8,0,1,10
9,Orange&T,--Orange Line-Orange Line-Rapi,115769,93982,8294,12794,115071,117748,10476,26393,154617,117748,10476,26393,154617
10,Red&T,--Red Line-Red Line-Rapid Tran,133995,109776,8110,12642,130528,128384,9948,25781,164113,128384,9948,25781,164113
11,Total,NaN,887330,724720,42092,115923,882735,1010648,57943,189912,1258504,1010648,57943,189912,1258504

Alias: example_table_10_02
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for example_table_10_02:

,Route_ID,Route_Name,Group_Name,Count,Y2024_EXISTING_WLK,Y2024_EXISTING_KNR,Y2024_EXISTING_PNR,Y2024_EXISTING_ALL,Y2050_NO-BUILD_WLK,Y2050_NO-BUILD_KNR,Y2050_NO-BUILD_PNR,Y2050_NO-BUILD_ALL,Y2050_BUILD_WLK,Y2050_BUILD_KNR,Y2050_BUILD_PNR,Y2050_BUILD_ALL
0,NCS&M,--Natick Commuter Shuttle-Nati,<NA>,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NCS&M,--Natick Commuter Shuttle-Nati,39-MWRTA,NaN,8.0,0.0,1.0,10.0,8.0,0.0,1.0,10.0,8.0,0.0,1.0,10.0
2,NCS&M,--Natick Commuter Shuttle-Nati,All Groups,NaN,8.0,0.0,1.0,10.0,8.0,0.0,1.0,10.0,8.0,0.0,1.0,10.0
3,Orange&T,--Orange Line-Orange Line-Rapi,<NA>,115769.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Orange&T,--Orange Line-Orange Line-Rapi,1-Bostn,NaN,45816.0,3494.0,7547.0,56857.0,54922.0,4720.0,16944.0,76586.0,54922.0,4720.0,16944.0,76586.0
5,Orange&T,--Orange Line-Orange Line-Rapi,2-Maldn,NaN,18253.0,2122.0,2867.0,23242.0,24801.0,2667.0,6468.0,33935.0,24801.0,2667.0,6468.0,33935.0
6,Orange&T,--Orange Line-Orange Line-Rapi,4-Smrvl,NaN,1764.0,205.0,223.0,2192.0,2779.0,284.0,391.0,3454.0,2779.0,284.0,391.0,3454.0
7,Orange&T,--Orange Line-Orange Line-Rapi,6-Rxbry,NaN,28149.0,2473.0,2158.0,32780.0,35246.0,2805.0,2591.0,40642.0,35246.0,2805.0,2591.0,40642.0
8,Orange&T,--Orange Line-Orange Line-Rapi,All Groups,NaN,93982.0,8294.0,12794.0,115071.0,117748.0,10476.0,26393.0,154617.0,117748.0,10476.0,26393.0,154617.0
9,Red&T,--Red Line-Red Line-Rapid Tran,<NA>,133995.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Red&T,--Red Line-Red Line-Rapid Tran,1-Bostn,NaN,47778.0,3356.0,6489.0,57624.0,55376.0,4156.0,12504.0,72037.0,55376.0,4156.0,12504.0,72037.0
11,Red&T,--Red Line-Red Line-Rapid Tran,4-Smrvl,NaN,26161.0,2121.0,1385.0,29667.0,29191.0,2388.0,2774.0,34353.0,29191.0,2388.0,2774.0,34353.0
12,Red&T,--Red Line-Red Line-Rapid Tran,5-SBstn,NaN,28175.0,1903.0,1596.0,31674.0,33572.0,2331.0,3605.0,39507.0,33572.0,2331.0,3605.0,39507.0
13,Red&T,--Red Line-Red Line-Rapid Tran,11-Quinc,NaN,7192.0,629.0,2777.0,10598.0,9645.0,960.0,5915.0,16520.0,9645.0,960.0,5915.0,16520.0
14,Red&T,--Red Line-Red Line-Rapid Tran,17-Brktn,NaN,469.0,101.0,395.0,965.0,600.0,113.0,983.0,1696.0,600.0,113.0,983.0,1696.0
15,Red&T,--Red Line-Red Line-Rapid Tran,All Groups,NaN,109776.0,8110.0,12642.0,130528.0,128384.0,9948.0,25781.0,164113.0,128384.0,9948.0,25781.0,164113.0
16,Total,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Total,Total,1-Bostn,NaN,232406.0,15643.0,53376.0,301426.0,300491.0,20707.0,82655.0,403852.0,300491.0,20707.0,82655.0,403852.0
18,Total,Total,2-Maldn,NaN,49579.0,2769.0,4748.0,57097.0,79407.0,3628.0,10787.0,93822.0,79407.0,3628.0,10787.0,93822.0
19,Total,Total,3-EBstn,NaN,57676.0,2266.0,5942.0,65885.0,75980.0,2798.0,8407.0,87185.0,75980.0,2798.0,8407.0,87185.0
20,Total,Total,4-Smrvl,NaN,63292.0,2871.0,2604.0,68767.0,76361.0,3521.0,5300.0,85182.0,76361.0,3521.0,5300.0,85182.0
21,Total,Total,5-SBstn,NaN,60778.0,2385.0,2497.0,65660.0,77518.0,3077.0,5100.0,85696.0,77518.0,3077.0,5100.0,85696.0
22,Total,Total,6-Rxbry,NaN,91986.0,3209.0,4751.0,99947.0,124881.0,3715.0,5034.0,133630.0,124881.0,3715.0,5034.0,133630.0
23,Total,Total,7-Brkln,NaN,55988.0,2242.0,2460.0,60690.0,87723.0,3030.0,4031.0,94784.0,87723.0,3030.0,4031.0,94784.0
24,Total,Total,8-Mlrse,NaN,2330.0,153.0,1075.0,3557.0,2825.0,216.0,2513.0,5555.0,2825.0,216.0,2513.0,5555.0
25,Total,Total,9-Lynn,NaN,7374.0,221.0,847.0,8443.0,8415.0,295.0,588.0,9299.0,8415.0,295.0,588.0,9299.0
26,Total,Total,10-Wlthm,NaN,12092.0,397.0,592.0,13081.0,14000.0,583.0,1638.0,16222.0,14000.0,583.0,1638.0,16222.0
27,Total,Total,11-Quinc,NaN,18263.0,892.0,3854.0,23009.0,26322.0,1443.0,9446.0,37211.0,26322.0,1443.0,9446.0,37211.0
28,Total,Total,12-Dedam,NaN,21765.0,1016.0,4210.0,26991.0,24804.0,1212.0,4896.0,30912.0,24804.0,1212.0,4896.0,30912.0
29,Total,Total,13-Newtn,NaN,5906.0,583.0,941.0,7430.0,7049.0,679.0,1152.0,8880.0,7049.0,679.0,1152.0,8880.0
30,Total,Total,14-Andvr,NaN,761.0,176.0,1550.0,2487.0,802.0,239.0,2294.0,3335.0,802.0,239.0,2294.0,3335.0
31,Total,Total,15-Salem,NaN,4817.0,323.0,1912.0,7053.0,5886.0,463.0,3154.0,9503.0,5886.0,463.0,3154.0,9503.0
32,Total,Total,16-Concr,NaN,409.0,242.0,830.0,1481.0,651.0,338.0,1718.0,2707.0,651.0,338.0,1718.0,2707.0
33,Total,Total,17-Brktn,NaN,5986.0,866.0,7185.0,14037.0,8350.0,1203.0,10848.0,20401.0,8350.0,1203.0,10848.0,20401.0
34,Total,Total,18-Norwd,NaN,2037.0,527.0,4154.0,6718.0,2268.0,597.0,4758.0,7623.0,2268.0,597.0,4758.0,7623.0
35,Total,Total,19-Frmhm,NaN,2583.0,547.0,2248.0,5378.0,3379.0,723.0,4018.0,8119.0,3379.0,723.0,4018.0,8119.0
36,Total,Total,20-Lwrnc,NaN,568.0,143.0,1085.0,1796.0,1221.0,266.0,1964.0,3451.0,1221.0,266.0,1964.0,3451.0
37,Total,Total,21-Nbprt,NaN,520.0,117.0,695.0,1332.0,662.0,164.0,1194.0,2019.0,662.0,164.0,1194.0,2019.0
38,Total,Total,22-Ayer,NaN,101.0,99.0,497.0,697.0,152.0,177.0,863.0,1192.0,152.0,177.0,863.0,1192.0
39,Total,Total,23-Plymt,NaN,364.0,523.0,1678.0,2564.0,452.0,727.0,2326.0,3505.0,452.0,727.0,2326.0,3505.0
40,Total,Total,24-SW_MA,NaN,433.0,423.0,3111.0,3967.0,526.0,657.0,3934.0,5118.0,526.0,657.0,3934.0,5118.0
41,Total,Total,25-Wbrgh,NaN,83.0,110.0,779.0,972.0,89.0,120.0,348.0,557.0,89.0,120.0,348.0,557.0
42,Total,Total,28-NW_MA,NaN,263.0,177.0,102.0,542.0,342.0,278.0,151.0,770.0,342.0,278.0,151.0,770.0
43,Total,Total,30-Provi,NaN,1163.0,1018.0,407.0,2589.0,1259.0,1015.0,660.0,2934.0,1259.0,1015.0,660.0,2934.0
44,Total,Total,31-Worce,NaN,122.0,1348.0,259.0,1729.0,167.0,2021.0,657.0,2846.0,167.0,2021.0,657.0,2846.0
45,Total,Total,34-S_RI,NaN,0.0,57.0,125.0,182.0,0.0,193.0,345.0,537.0,0.0,193.0,345.0,537.0
46,Total,Total,36-MTPN,NaN,3416.0,289.0,896.0,4601.0,4884.0,349.0,1654.0,6887.0,4884.0,349.0,1654.0,6887.0
47,Total,Total,37-MVRTA,NaN,7143.0,163.0,156.0,7462.0,7729.0,168.0,182.0,8078.0,7729.0,168.0,182.0,8078.0
48,Total,Total,38-BATA,NaN,11625.0,143.0,296.0,12064.0,13433.0,223.0,256.0,13912.0,13433.0,223.0,256.0,13912.0
49,Total,Total,39-MWRTA,NaN,2280.0,142.0,47.0,2470.0,2485.0,150.0,50.0,2685.0,2485.0,150.0,50.0,2685.0
50,Total,Total,40-CATA,NaN,612.0,9.0,11.0,633.0,592.0,9.0,7.0,607.0,592.0,9.0,7.0,607.0
51,Total,Total,All Groups,887330.0,724720.0,42092.0,115923.0,882735.0,1010648.0,57943.0,189912.0,1258504.0,1010648.0,57943.0,189912.0,1258504.0
52,--------------------,------------------------------------,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Alias: example_table_11_01
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for example_table_11_01:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,47761,0,64559,0,64559,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,2220,0,2944,0,2944,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,447,0,759,0,759,0,0,0
3,0 car H,Fixed Guideway Only,All Access,50428,0,68263,0,68263,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,13380,0,18672,0,18672,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,14917,0,19889,0,19889,0,0,0
78,All car,All Fixed Guideway,PNR Access,67396,0,96382,0,96382,0,0,0
79,All car,All Fixed Guideway,All Access,229859,0,309720,0,9720,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: example_table_11_02
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for example_table_11_02:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,50817,0,59686,0,59686,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,3432,0,4292,0,4292,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,167,0,255,0,255,0,0,0
3,0 car H,Fixed Guideway Only,All Access,54417,0,64233,0,64233,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,8033,0,14548,0,14548,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,11929,0,15642,0,15642,0,0,0
78,All car,All Fixed Guideway,PNR Access,8212,0,14219,0,14219,0,0,0
79,All car,All Fixed Guideway,All Access,134668,0,174951,0,74951,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: example_table_11_03
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for example_table_11_03:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,13651,0,15867,0,15867,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,1420,0,1809,0,1809,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,42,0,66,0,66,0,0,0
3,0 car H,Fixed Guideway Only,All Access,15113,0,17742,0,17742,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,1406,0,2458,0,2458,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
77,All car,All Fixed Guideway,KNR Access,5677,0,6731,0,6731,0,0,0
78,All car,All Fixed Guideway,PNR Access,2852,0,4788,0,4788,0,0,0
79,All car,All Fixed Guideway,All Access,46424,0,55754,0,55754,0,0,0
80,. . . . .,. . . . . . . . . .,. . . . . . .,0,0,0,0,0,0,0,0
81,---------,--------------------,--------------,0,0,0,0,0,0,0,0

Alias: example_table_11_04
Metadata:
  Run: Boston_Regional_STOPS                                                                                            15:01:23
  Program: STOPS

Table data for example_table_11_04:

,HH_Cars,Sub_mode,Access_mode,Y2024_EXISTING_Model,Y2024_EXISTING_Survey,Y2050_NO_BUILD_Model,Y2050_NO_BUILD_Survey,Y2050_BUILD_Model,Y2050_BUILD_Survey,Y2050_BUILD_Project_Model,Y2050_BUILD_Project_Survey
0,0 car H,Fixed Guideway Only,Walk Access,112229,0,140112,0,40112,0,0,0
1,0 car H,Fixed Guideway Only,KNR Access,7073,0,9045,0,9045,0,0,0
2,0 car H,Fixed Guideway Only,PNR Access,656,0,1081,0,1081,0,0,0
3,0 car H,Fixed Guideway Only,All Access,119957,0,150238,0,50238,0,0,0
4,0 car H,Fixed Guideway+Bus,Walk Access,22819,0,35677,0,35677,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
76,All car,All Fixed Guideway,Walk Access,299968,0,382773,0,82773,0,0,0
77,All car,All Fixed Guideway,KNR Access,32523,0,42263,0,42263,0,0,0
78,All car,All Fixed Guideway,PNR Access,78460,0,115390,0,15390,0,0,0
79,All car,All Fixed Guideway,All Access,410950,0,540425,0,40425,0,0,0
80,========,====================,==============,0,0,0,0,0,0,0,0

Exported '2024_table_9_01' to './extracted_csv_tables\Table_9_01\[2024]__Table_9_01.csv' successfully.
Exported '2024_table_10_01' to './extracted_csv_tables\Table_10_01\[2024]__Table_10_01.csv' successfully.
Exported '2024_table_10_02' to './extracted_csv_tables\Table_10_02\[2024]__Table_10_02.csv' successfully.
Exported '2024_table_11_01' to './extracted_csv_tables\Table_11_01\[2024]__Table_11_01.csv' successfully.
Exported '2024_table_11_02' to './extracted_csv_tables\Table_11_02\[2024]__Table_11_02.csv' successfully.
Exported '2024_table_11_03' to './extracted_csv_tables\Table_11_03\[2024]__Table_11_03.csv' successfully.
Exported '2024_table_11_04' to './extracted_csv_tables\Table_11_04\[2024]__Table_11_04.csv' successfully.
Exported '2045_table_9_01' to './extracted_csv_tables\Table_9_01\[2045]__Table_9_01.csv' successfully.
Exported '2045_table_10_01' to './extracted_csv_tables\Table_10_01\[2045]__Table_10_01.csv' successfully.
Exported '2045_table_10_02' to './extracted_csv_tables\Table_10_02\[2045]__Table_10_02.csv' successfully.
Exported '2045_table_11_01' to './extracted_csv_tables\Table_11_01\[2045]__Table_11_01.csv' successfully.
Exported '2045_table_11_02' to './extracted_csv_tables\Table_11_02\[2045]__Table_11_02.csv' successfully.
Exported '2045_table_11_03' to './extracted_csv_tables\Table_11_03\[2045]__Table_11_03.csv' successfully.
Exported '2045_table_11_04' to './extracted_csv_tables\Table_11_04\[2045]__Table_11_04.csv' successfully.
Exported '2050_table_9_01' to './extracted_csv_tables\Table_9_01\[2050]__Table_9_01.csv' successfully.
Exported '2050_table_10_01' to './extracted_csv_tables\Table_10_01\[2050]__Table_10_01.csv' successfully.
Exported '2050_table_10_02' to './extracted_csv_tables\Table_10_02\[2050]__Table_10_02.csv' successfully.
Exported '2050_table_11_01' to './extracted_csv_tables\Table_11_01\[2050]__Table_11_01.csv' successfully.
Exported '2050_table_11_02' to './extracted_csv_tables\Table_11_02\[2050]__Table_11_02.csv' successfully.
Exported '2050_table_11_03' to './extracted_csv_tables\Table_11_03\[2050]__Table_11_03.csv' successfully.
Exported '2050_table_11_04' to './extracted_csv_tables\Table_11_04\[2050]__Table_11_04.csv' successfully.
Exported 'example_table_9_01' to './extracted_csv_tables\Table_9_01\[example]__Table_9_01.csv' successfully.
Exported 'example_table_10_01' to './extracted_csv_tables\Table_10_01\[example]__Table_10_01.csv' successfully.
Exported 'example_table_10_02' to './extracted_csv_tables\Table_10_02\[example]__Table_10_02.csv' successfully.
Exported 'example_table_11_01' to './extracted_csv_tables\Table_11_01\[example]__Table_11_01.csv' successfully.
Exported 'example_table_11_02' to './extracted_csv_tables\Table_11_02\[example]__Table_11_02.csv' successfully.
Exported 'example_table_11_03' to './extracted_csv_tables\Table_11_03\[example]__Table_11_03.csv' successfully.
Exported 'example_table_11_04' to './extracted_csv_tables\Table_11_04\[example]__Table_11_04.csv' successfully.